In [ ]:
''' 1. Convert a Tuple t = (1,2,3,4,5) to a list'''

t_l = (1,2,3,4,5,6)
print(list(t_l))

l_t = [1,2,3,4]
print(tuple(l_t))

In [62]:
''' 2. WAP to join a list and a tuple:
L = [1,3,5,7]
T = (8,6,4,2)
Store the result in a list LS'''

L = [1,3,5,7]
T = (8,6,4,2)
T1 = list(T)
for n in T1:
    L.append(n)
print(sorted(L))

[1, 2, 3, 4, 5, 6, 7, 8]

# 3. What is difference between list and tuple.

List : Mutable; [1,2,3] can be converted to [10,2,3]
       Heterogenous; can support multiple data types [1,2.3, WORK,True]
     
Tuple : Immutable; [1,2,3] CANNOT be converted to [10,2,3]
        Heterogenous; can support multiple data types [1,2.3, WORK,True]

In [ ]:
''' 4. Print the list in reverse order l = [‘a’, ‘d’, ‘c’, ‘A’, ‘C’]'''
l = ['a','d','c','A','C']
l.reverse()
print(l)
print(sorted(l,reverse=True))

In [ ]:
''' 5. Print Elements at Odd indexes from a list (Do not use loop) l = [10,11,20, 21,30, 31, 40, 41]'''

l = [10,11,20, 21,30, 31, 40, 41]
print(l[1::2])

In [ ]:
''' 6. How many ways you can copy a list.'''

a = [1,2,3,4]
b=[4,5,6,7]
b = a # points to same memory loaction
b = a.copy() # points to different memory location
a
print(b, id(b))
print(a, id(a))

In [ ]:
"""#7"""
n_list = ["HAPPY", [2,0,1,5]]
print(n_list[0][1])
print(n_list[1][3])

In [ ]:
"""#8"""
odd = [2,4,6,8]
odd[0]=1
print(odd)
odd[1:4]=[3,5,7]
print(odd)

In [ ]:
"""#9"""
odd = [1,3,5]
odd.append([7,9])
print(odd)
odd.extend([11,13])
print(odd)

In [ ]:
"""#10"""
x = 1,2,3; print(type(x))
x = (1); print(type(x))
x = 1; print(type(x))
x = 1, ; print(type(x))

In [ ]:
""" 11. Try to represent a matrix with following data in python:
1 2 3
4 5 6
7 8 9"""
from numpy import matrix
X =np.array[[1,2,3],[4,5,6],[7,8,9]]
print(X)

In [ ]:
t = tuple('String')
print(t)
print(t[::-1]) 
print(t[::2][::-2]) 
print(t[::2][::-2][::2])

In [ ]:
inp = "ABCDEFGHIJK"
print(inp[::2])
print(inp[::100]) # [start:end:interval]

In [ ]:
t = tuple([10,20,30,40,50,60,10])
print(60 in t)
print('60' in t)
print(t.count(10))
print(t.index(40))

In [30]:
''' 14. Write a program to input a string and print if it is palindrome or not.'''
pal = input('')
low = pal.lower()
NN = list(low)
MM = NN[::-1]
if NN == MM:
    print('Palindrome')
else:
    print('Not a Palindrome')

NAMAN
naman
Palindrome

In [41]:
# reverse dosen't return any value. It will overwrite the original variable
A = [1,2,3,4]
print(A)
A.reverse()
print(A)
M = A.reverse()
print(M)

[1, 2, 3, 4]
[4, 3, 2, 1]
None

In [55]:
""" 15. Use the range method and create a tuple containing the following values:
(20, 15, 10, 5)"""

R = range(21)
lst =[]
for n in range (R):
    lst.append(n)
print(lst)

TypeError: 'range' object cannot be interpreted as an integer

In [73]:
lst=[]
for n in range (5,21,5):
    lst.append(n)
print(tuple(lst))

(5, 10, 15, 20)

In [74]:
'''16. WAP to convert string to list of characters.'''
st = "String to list of characters"
print(list(st))

['S', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's']

In [76]:
print(type('1 2'.split()))
print(type([1,2,3].sort()))
print(type('abc'.upper()))
print(type(1 in [1,2]))

<class 'list'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>